<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <main>
            <form action="/change-role" method="POST">
                <h1>Become member</h1>
                <fieldset>
                    <input type="radio" name="role" value="member" checked>
                    <label for="member">Member</label>
                    <input type="radio" name="role" value="admin">
                    <label for="admin">Admin</label>
                </fieldset>
                <label for="rolePassword">Membership Password:</label>
                <input type="password" name="rolePassword" id="rolePassword">
                <button type="submit">Submit</button>
                <% if (locals.error) { %>
                    <p><%= error %></p>
                <% } %>
            </form>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>